<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>

  <appSettings>
    <add key="URL" value="https://www.google.com/intl/en-GB/gmail/about/#" />
    <add key="EmailID" value="AutomationTest743@gmail.com" />
    <add key="Password" value="AutoTest743" />
  </appSettings>  
</configuration>